Package: anonsurf-dbgsym
Package-Type: ddeb
Source: anonsurf
Version: 5.7.5+victoria9
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Parrot Team <team@parrotsec.org>
Installed-Size: 95
Depends: anonsurf (= 5.7.5+victoria9)
Section: debug
Priority: optional
Description: debug symbols for anonsurf
Build-Ids: 2b6ce6076975cac2b404a2178d322c58ad91867b bf96221fc3c2cb8f3cd4243fc0033c5d6dbf4eba
