Package: anonsurf-gtk-dbgsym
Package-Type: ddeb
Source: anonsurf
Version: 3.5.3+victoria1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Parrot Team <team@parrotsec.org>
Installed-Size: 430
Depends: anonsurf-gtk (= 3.5.3+victoria1)
Section: debug
Priority: optional
Description: debug symbols for anonsurf-gtk
Build-Ids: c880ba8465a088cc6b40459c1f368d8806d7602c
