Package: anonsurf-gtk-dbgsym
Package-Type: ddeb
Source: anonsurf
Version: 5.7.4+victoria1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Parrot Team <team@parrotsec.org>
Installed-Size: 430
Depends: anonsurf-gtk (= 5.7.4+victoria1)
Section: debug
Priority: optional
Description: debug symbols for anonsurf-gtk
Build-Ids: 17b4477abf90e7fe9fd3b9e9b4dc5698180d9147
