Package: anonsurf-cli-dbgsym
Package-Type: ddeb
Source: anonsurf
Version: 3.5.3+victoria1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Parrot Team <team@parrotsec.org>
Installed-Size: 233
Depends: anonsurf-cli (= 3.5.3+victoria1)
Section: debug
Priority: optional
Description: debug symbols for anonsurf-cli
Build-Ids: ca012caa3fdd55c054a85ad6e0a896ea4a2a48c3
