Package: anonsurf
Version: 3.5.3+victoria1
Architecture: amd64
Maintainer: Parrot Team <team@parrotsec.org>
Installed-Size: 511
Depends: snowflake-client, bash (>= 5.0), apt-transport-tor, vanguards, torsocks, iptables, tor, libc6, nyx, systemd | systemctl, sudo, bleachbit, libnotify4
Recommends: i2p-router, i2p, tor-geoipdb, haveged, libnotify-bin, connect-proxy, onionshare, parrot-menu
Suggests: gnunet-gtk, snowflake-proxy, gnunet, vidalia, resolvconf
Section: net
Priority: optional
Homepage: https://www.parrotsec.org/
Description: Anonymization toolkit for Parrot Security OS
 AnonSurf is an anonymization toolkit that helps
 prevent tracking and surveillance of the end-user.
 .
 AnonSurf creates a Tor transparent proxy using iptables
 to forward all traffic through the Tor network.
 It also disables IPv6 and clears application caches
 to prevent data leaks.
